header{
  background-color: #FFFFFF;
}

li a{
  font-family: "Silom";
  color: #47779A;
  display: inline;
}

ul.list li{
  display: inline;
}
nav{
float: right;
}

.upperhalf{
  background-color: #0E588D;
  padding: 30px;
  background-image: url(../assets/hero.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 800px;
}
.about{
  background-color: #FFFFFF;
  width: 500px;
  height: 300px;
  padding: 20px;
  background-image: url(../assets/talkie.png);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 20px;
}

.text{
  width: 300px;
  height: 200px;
  float: left;
}

.bott{
  width: 300px;
  height: 200px;
  margin: 10px;
  float: left;
}
.bottomhalf{
  background-color: #DFDFDF;
  border: 10px solid #000;

}
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}