header{
  background-color: #FFF
}
body{
  font-family: 'Sarpanch', sans-serif;
}
#logo{
  vertical-align: middle;
  display: inline-block;
}
#digimon{
  vertical-align: middle;
  display: inline-block;
}
#tllogo{
  display: inline-block;
}
#navbar{
  float: right;
  margin: auto 50px;
}
#navbar li{
  display: inline-block;
  margin: auto 15px;
}
#navbar a:hover{
  color: #F5A623;
}

.upperhalf{
  background-color: #0E588D;
  height: 350px;
  width: all;
  background-image: url(../Assets/hero.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 100px 50px;
}
.about{
  height: 200px;
  width: 480px;
  background: #FFF;
  border-radius: 20px;
  padding: 10px;
  background-image: url(../Assets/talkie.png);
  background-repeat: no-repeat;
  background-position: right center;
  border:10px solid white;
}
.text{
  width:60%;
  height: auto;
}
.text p{
  font-family: 'Lato', sans-serif;
  color: #4D4D4D;
  font-size: 1.1em;
}
.bottomhalf{
  background-color: #DFDFDF;
  text-align: center;

}
.bott{
  width: 300px;
  height: 225px;
  background-color: #F0F0F0;
  display: inline-block;
  border-radius: 15px;
  padding: 10px 30px;
  vertical-align: middle;
  margin: 35px 20px;
  box-shadow: 0px 0px 1px 1px #979797;
}

footer{
  background-color: #4A4A4A;
  text-align: center;
  height: 75px;
}

footer p{
  color: white;
  vertical-align:middle; 
  display:inline-block; 
}
ol li{
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #4D4D4D;